version: "3"

services:
  #########################
  # Setup node container
  #########################
  server:
    # env_file: variables.env
    container_name: 'server'
    # build: ./docker/server
    build:
      context: .
      dockerfile: ./docker/server/Dockerfile
    expose:
      - "4000"
    environment:
      API_HOST: "http://localhost:4000"
      APP_SERVER_PORT: "4000"
    ports:
      - "4000:4000"
    volumes:
      - ./Server:/src/app/server
    command: npm run start

    ##########################
    # Setup client container
    ##########################

  client:
    # env_file: variables.env
    container_name: 'client'
    # build: ./docker/client
    build:
      context: .
      dockerfile: ./docker/client/Dockerfile
    environment:
      - REACT_APP_PORT=3000
    expose:
      - "3000"
    ports:
      - "3000:3000"
    volumes:
      - ./Client/src:/src/app/client/src
      - ./Client/public:/src/app/client/public
    links:
      - server
    command: npm run start


# version: "3"

# services:
#   #########################
#   # Setup node container
#   #########################
#   server:
#     # env_file: variables.env
#     container_name: 'server'
#     build: ./server
#     expose:
#       - ${APP_SERVER_PORT}
#     environment:
#       API_HOST: ${API_HOST}
#       APP_SERVER_PORT: ${APP_SERVER_PORT}
#     ports:
#       - ${APP_SERVER_PORT}:${APP_SERVER_PORT}
#     volumes:
#       - ./server:/src/app/server
#     command: npm run start

#     ##########################
#     # Setup client container
#     ##########################

#   client:
#     # env_file: variables.env
#     container_name: 'client'
#     build: ./client
#     environment:
#       - REACT_APP_PORT=${REACT_APP_PORT}
#     expose:
#       - ${REACT_APP_PORT}
#     ports:
#       - ${REACT_APP_PORT}:${REACT_APP_PORT}
#     volumes:
#       - ./client/src:/src/app/client/src
#       - ./client/public:/src/app/client/public
#     links:
#       - server
#     command: npm run start